.navbar-brand{
}

.navbar-nav{
    z-index: 99;
}

.navbar-nav li a{
    color: #000 !important;
}

.bg-light{
    /* background-color: #fff !important; */
}

.header{
    
}

.header ul li{
    margin-left: 3rem !important;
    transition: 1s all;
}

.header ul li .dropdown-menu{
    padding: 0rem !important;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    margin-top: 4% !important
}

.header ul li .dropdown-menu li{
    margin-left: 0rem !important;
    transition: 1s all;
}

.header ul li .dropdown-menu li a{
    padding: 5% !important;
    color: #000 !important;
}

.header ul li a{
    padding: 0px !important;
    color: #000 !important;
}



.header ul li:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.header ul .active:after,
.header ul li:hover:after {
	width: 100%;
	background: #000;
}

.navbar .container{
    border-bottom: 4px solid #7C7FC7 !important;
}
/* Header */
/* ======================= */





/* payment */
.payment{
    margin-bottom: 5% !important;
}

.payment h1,
.payment h2{
    color: #000 !important;
    /* text-align: center !important; */
}

.payment-inner-section{
    background-color: #7C7FC7 !important;
    padding: 5% !important;
    border-radius: 2rem !important;
}

.payment-inner-section h1{
    margin-bottom: 8% !important;
    font-size: 300% !important;
}

.payment-inner-section .col-md-10{
    margin-bottom: 5% !important;
}

.payment-option{
    background-color: #DDE1F1 !important;
    border-radius: 2rem !important;
    padding: 5% !important;
    /* font-size: 200% !important; */
}

.payment-option h2{
    border-bottom: #7C7FC7 2px dotted !important;
    display: inline-block !important;
    color: #000 !important;
    margin-bottom: 5% !important;
    font-size: 250% !important;
}

.option-list{
    font-size: 160% !important;
}

.single-option-list{
    margin-bottom: 2% !important;
}
/* payment */





/* Footer */
.footer{
    background-color: #EAEDF6 !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.footer img{
    width: 30% !important;
}

.footer .row .col-md-6 p{
    margin-bottom: 1rem !important;
}

.footer .nav{}

.footer .nav li{
    /* border-right: 1.2rme !important; */
}

.footer .nav li a{
    color: #333 !important;
    padding: 0px !important;
    border-right: 2px solid #333 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.footer .nav li a:last-child{
    border-right: 0px !important;
}
/* Footer */




/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .footer{
        padding-top: 1.2rem !important;
        padding-bottom: 1.2rem !important;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .footer{
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
}