.navbar .container{
    border-bottom: 4px solid #7C7FC7 !important;
}

.navbar-nav li a{
    padding: 0px !important;
    transition: all 1s !important;
}

.navbar-nav li a:hover{
    border-bottom: 1px solid #333 !important;
}

.navbar-nav li{
    /* transition: all 1s !important; */
    margin-left: 2.5rem !important;
}

.navbar-nav li:hover{
    /* border-bottom: 1px solid #333 !important; */
}

/* content */
.content{
    margin-bottom: 10% !important;
}
.content{}
.content{}
/* content */

/* Contact Us */
.contact-us{
    margin-bottom: 22% !important;
}

.contact-us-left{
    margin-top: 45vh !important;
}

.contact-us-right{
    position: absolute;
    right: 0;
    padding-right: 0px !important;
    margin-bottom: 25vh !important;
}

.contact-us .nav{}

.contact-us .nav li{
    border: 2px solid #0d6efd !important;
    border-radius: 50% !important;
    width: 4rem !important;
    height: 4rem !important;
    padding-top: .4rem !important;
    margin-right: 1.5rem !important;
}

.contact-us .nav li a{}

.contact-us .nav li a i{
    /* border: 2px solid #0d6efd !important; */
    /* padding: .5rem !important; */
    /* border-radius: 50% !important; */
    /* width: 4rem !important; */
    /* height: 4rem !important; */
    /* margin: auto !important; */
}

/* .contact-us-right{
    position: absolute;
    right: 0;
    padding-right: 0 !important;
}

.contact-us-right img{
    height: 50vh !important;
} */
/* Contact Us */


/* Footer */
.footer{
    background-color: #EAEDF6 !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.footer img{
    width: 30% !important;
}

.footer .row .col-md-6 p{
    margin-bottom: 1rem !important;
}

.footer .nav{}

.footer .nav li{
    /* border-right: 1.2rme !important; */
}

.footer .nav li a{
    color: #333 !important;
    padding: 0px !important;
    border-right: 2px solid #333 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.footer .nav li a:last-child{
    border-right: 0px !important;
}
/* Footer */




/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* .contact-us .nav li{
        width: 3rem !important;
        height: 3rem !important;
        padding-top: .1rem !important;
        margin-right: 1rem !important;
    }

    .contact-us .nav li i{
        font-size: 150% !important;
    }

    .footer{
        padding-top: 1.2rem !important;
        padding-bottom: 1.2rem !important;
    } */

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* .contact-us .nav li{
        border: 2px solid #0d6efd !important;
        border-radius: 50% !important;
        width: 4rem !important;
        height: 4rem !important;
        padding-top: .4rem !important;
        margin-right: 1.5rem !important;
    }

    .contact-us .nav li i{
        font-size: 200% !important;
    }

    .footer{
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    } */
}