/* Header */

.navbar-brand{
    z-index: 9999;
}

.navbar-nav{
    z-index: 99;
}

.navbar-nav li a{
    color: #fff !important;
}

.bg-light{
    background-color: #fff !important;
}

.header{
    z-index: 999;
}

.header ul li{
    margin-left: 3rem !important;
    transition: 1s all;
}

/* .header ul li:hover{
    border-bottom: 1px solid #333 !important;
    transition: 1s all;
} */

.header ul li a{
    padding: 0px !important;
    color: #fff !important;
}



/* .header ul .active:after, */
.header ul li:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.header ul .active:after,
.header ul li:hover:after {
	width: 100%;
	background: #fff;
}
/* Header */


/* Who We Are */
.who-are-we{
    /* background-image: url('../asset/Group\ 21984.png');
    background-size: cover;
    background-position: center right; */
    /* height: 80vh !important; */
}

.who-are-we .row{
    /* padding-right: 0px !important; */
}

.who-are-we h1{
    width: 40% !important;
    border-bottom: 2px dotted #87ACD2 !important;
}

.who-are-we h1,
.who-are-we h3,
.who-are-we button{
    text-transform: capitalize !important;
    line-height: 3rem !important;
}

.whoAreWe-left p{
    font-size: 1.5rem !important;
}

.whoAreWe-left button{
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    border: none !important;
    padding: .5rem !important;
    padding-left: 1.4rem !important;
    padding-right: 1.4rem !important;
    border-radius: 2rem !important;
    color: #fff !important;
}

.whoAreWe-right{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0px !important;
}
/* Who We Are */


/* Service We offer */
.service-we-offer{
    margin-top: 10vh !important;
    margin-bottom: 20vh !important;
}
.service-we-offer-left{}
.service-we-offer-left .list-group{}
.service-we-offer-left .list-group li img{
    width: 1.5rem !important;
    height: 1.5rem !important;
    margin-right: 1rem !important;
}

.service-we-offer-left .list-group li{
    border: none !important;
    font-size: 1.6rem !important;
    margin-bottom: 1.2rem !important;
    color: #000 !important;
}
.service-we-offer-right{
    /* background-image: url('../asset/Group 21992@2x.png'); */
    background-size: cover;
    height: 120vh !important;
    position: relative;
    /* background-repeat: no-repeat; */
}

.service-we-offer-right img{
    height: 90vh !important;
}

.offer-form{
    /* padding: 2rem !important; */
    width: 75% !important;
    position: absolute !important;
    top: 40vh !important;
}

.service-we-offer-right label{
    color: #666 !important;
}

.service-we-offer-right .form-control{
    background-color: #fff !important;
    border-radius: 5rem !important;
    padding-left: 1.5rem !important;
    padding-top: .7rem !important;
    padding-bottom: .7rem !important;
    border: .1rem solid #555 !important;
}

.service-we-offer-right label{
    text-align: left !important;
}

.service-we-offer-right button{
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    border: none !important;
    padding: .4rem !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    border-radius: 2rem !important;
    color: #fff !important;
    font-size: large;
}

.service-we-offer-right button:focus
.service-we-offer-right button:active
{
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.service-we-offer-right .form-control:active,
.service-we-offer-right .form-control:focus{
    /* outline: none !important;
    border: 0px !important; */
    box-shadow: none !important;
}

/* Service We offer */


/* Oue Service */
.our-service{
    height: 100vh;
    background-image: url('../asset/Group\ 21983@2x.png');
    background-position: center left;
    background-size: 40% 100%;
    background-repeat: no-repeat;
}

.our-service h1{
    border-bottom: 2px dotted #333;
    border-color: blueviolet;
}

.single-service{
    background-color: #fff !important;
    border: 1px solid #333;
    border-radius: 2.5rem;
}

.service .col-md-3{
    transition: 1s all;
}

.service .col-md-3:hover {
    padding: 0px Solid !important;
    transform: scale(1.1);
}

.single-service h5{
    border-bottom: 1px dotted blueviolet;
}

.single-service button{
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    border: none !important;
    padding: .5rem !important;
    padding-left: 1.4rem !important;
    padding-right: 1.4rem !important;
    border-radius: 2rem !important;
    color: #fff !important;
}

.splide__track{
    margin-bottom: 3rem !important;
}

.splide__arrows{
    display: none !important;
}

.splide__pagination__page .is-active{
    /* color: #87ADD2 !important; */
}

.splide__pagination__page {
    width: .4rem !important;
    height: .4rem !important;
}

.splide__pagination__page.is-active {
    background-color: #87ACD2 !important;
}

.splide__pagination{
    /* position: absolute;
    bottom: 0; */
    /* width: 1rem; */
    /* height: 1rem; */
    /* color: #ededed !important; */
    /* margin-top: 5rem !important; */
    /* margin-bottom: 1rem !important; */
}
/* Oue Service */

/* Book Appointment */
.book-appointment{}
.book-appointment .appointment-left{
    position: absolute;
    left: -3.5rem !important;
    padding-left: 0 !important;
}
.book-appointment .appointment-right{}
.book-appointment .appointment-right h6,
.book-appointment .appointment-right p,
.book-appointment .appointment-right label{
    color: #666 !important;
}

.book-appointment .appointment-right .form-control{
    background-color: #E5E8F4 !important;
    border-radius: .5rem !important;
    padding-left: 1.5rem !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    border: .1rem solid #555 !important;
}

.book-appointment .appointment-right label{
    text-align: left !important;
}

.book-appointment .appointment-right button{
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    border: none !important;
    padding: 1rem !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    border-radius: 2rem !important;
    color: #fff !important;
    font-size: large;
}

.book-appointment .appointment-right button:focus
.book-appointment .appointment-right button:active
{
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.book-appointment .appointment-right .form-control:active,
.book-appointment .appointment-right .form-control:focus{
    /* outline: none !important;
    border: 0px !important; */
    box-shadow: none !important;
}

.book-appointment .appointment-right{}
.book-appointment{}
.book-appointment{}
/* Book Appointment */


/* Contact Us */
.contact-us{}

.contact-us-right{
    position: absolute;
    right: 0;
    padding-right: 0px !important;
    margin-bottom: 25vh !important;
}

.contact-us .nav{}

.contact-us .nav li{
    border: 2px solid #0d6efd !important;
    border-radius: 50% !important;
    width: 4rem !important;
    height: 4rem !important;
    padding-top: .4rem !important;
    margin-right: 1.5rem !important;
}

.contact-us .nav li a{}

.contact-us .nav li a i{
    /* border: 2px solid #0d6efd !important; */
    /* padding: .5rem !important; */
    /* border-radius: 50% !important; */
    /* width: 4rem !important; */
    /* height: 4rem !important; */
    /* margin: auto !important; */
}

/* .contact-us-right{
    position: absolute;
    right: 0;
    padding-right: 0 !important;
}

.contact-us-right img{
    height: 50vh !important;
} */
/* Contact Us */


/* Footer */
.footer{
    background-color: #EAEDF6 !important;
}

.footer p{
    margin-bottom: 0px !important;
}

.footer .nav{}

.footer .nav li{
    /* border-right: 1.2rme !important; */
}

.footer .nav li a{
    color: #333 !important;
    padding: 0px !important;
    border-right: 2px solid #333 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    /* padding-left: .8rem !important;
    padding-right: .8rem !important;
    border-right: 2px solid #333 !important;
    font-size: 1.2rem !important; */
}

.footer .nav li a:last-child{
    border-right: 0px !important;
}
/* Footer */